
button.icon {
    border : 0;
    background-color : rgba(0,0,0,0);
    text-align: center; 
    opacity : 0.7;
}

button.icon img {
    display: block;
    margin : auto;
    width : 30px !important;
}

button.icon label {

}