/* Necesario para dejar espacio a la barra superior.*/
/*------------------------------------*/
#map  .leaflet-control-container {
    position : static;
    top : 40px;
    height : 100%;
}

#map  .leaflet-bottom {
    bottom : 10px !important;
}
#map .leaflet-top {
    top : 40px ;
}

.toolbar {
    position : relative;
    top : 40px;
}

.buttonPanel  {
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  border-radius: 4px;
  background-color: #fff;
  padding: 5px;

}

#map {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
#logo {
    top : 1;
    bottom : 0;
    position: absolute;
    background: url(../images/splash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}


#logo p {
    margin : 0;
    font-size : 4em;
    font-weight: bold;
    color : white;
}
#logo a {
    left : 0;
    right : 0;
    margin-top : 2em;
    margin-left : 20%;
    margin-right : 20%;
}

#loader {
    height : 30%;
    margin-top: 2em;
    opacity: 0.5;
}

div.copyright {
    z-index: 999999999;
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    min-height: 32px;
    background-color:white;

    /*animation: MoveUpOutside 2s 10s linear;
    animation-fill-mode:forwards;*/


}
div.copyright img.flor {
    float: left;
    height: 37px;
    margin-right: 4px;
}
div.copyright img.logo {
    float: left;
    height: 37px;
}
div.copyright img.museu {
    float: right;
    height: 37px;
}


#rightButton {
  margin-right: 40px;
}

ul.locale-container {
  z-index: 99999999;
  display: block;
  position: relative;
  top: 0;
  float: right;

  background-color: #FFF;
	padding: 0;
	height: 25px;
	overflow: hidden;
	transition: all .3s ease;
	margin: 10px 10px 0 0;

	vertical-align: top;
  font-size: 12px;
  width: 26px;

}


/*The next commented rule are done via jquery*/
/*ul.locale-container:hover li {
  line-height: 40px;
}

ul.locale-container:not(.no-hover):hover {
  width: 100px;
}
*/

ul.locale-container a{
	color: #000;
	text-decoration: none;
}

ul.locale-container li {
	display: block;
  padding-left: 5px;
  padding-right: 5px;
	line-height: 25px;
	border-top: 1px solid #EEE;
  transition: all .3s ease;
  text-align: center;

}

ul.locale-container li:hover{
	background-color: #EEE;
}

ul.locale-container a:first-child li {
	border: none;
	background: #FFF !important;
}


ul.locale-opened {
  width: 100px;
}

ul.locale-opened li {
  line-height: 40px;
}

/*copyright user footer*/
footer {
  display: block;
  position: fixed;
  z-index: 9999999;
  bottom: 0;
  width: 100%;
  top: unset;
  text-align: center !important;
}
footer a {
  color: darkgrey;
  text-decoration: none;
}
footer a:hover {
  color: grey;
}
#userPage{
  padding-bottom: 50px;
  min-height:90%;
}

/* ---- TOAST*/
/*------------------------------------*/
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
   visibility: hidden; /* Hidden by default. Visible on click */
   min-width: 250px ; /* Set a default minimum width */
   margin-left: -125px ; /* Divide value of min-width by 2 */
   background-color: silver; /* Black background color */
   color: #fff; /* White text color */
   text-align: center; /* Centered text */
   border-radius: 2px; /* Rounded borders */
   padding: 16px; /* Padding */
   position: fixed ; /* Sit on top of the screen */
   z-index: 1 ; /* Add a z-index if needed */
   left: 50% ; /* Center the snackbar */
   bottom: 30px; /* 30px from the bottom */
   top: unset;
   width: 0%;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
   visibility: visible !important; /* Show the snackbar */
   display: block;

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
   -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
   animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
   from {bottom: 0; opacity: 0;}
   to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
   from {bottom: 0; opacity: 0;}
   to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
   from {bottom: 30px; opacity: 1;}
   to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
   from {bottom: 30px; opacity: 1;}
   to {bottom: 0; opacity: 0;}
}

/* ---- MODAL*/
/*------------------------------------*/
/* The Modal (background) */
.modal {
    display: none ; /* Hidden by default */
    position: fixed !important; /* Stay in place */
    z-index: 1 !important; /* Sit on top */
    padding-top: 0px !important; /* Location of the box */
    left: 0 !important;
    top: 0 !important;
    width: 100% !important; /* Full width */
    height: 100% !important; /* Full height */
    overflow: auto !important; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align:center;

}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    margin-top: 100px !important; /* Location of the box */
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: zoom;
    animation-duration: 0.4s;

    text-align: left;

}

#modalImage  img {
  /*max-height: calc(100vh - 225px);*/
  width: 100%;
  height: auto;

}
#modalImage {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  padding-top: 100px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    /*height: 150px;*/
}

/* Add Animation - Zoom in the Modal */
#modalImage, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-div {
  top: -10px;
  position: relative;
  color:inherit;
}

/* The Close Button */
.closeImage {
    position: absolute;
    top: 20px;
    right: 5px;
    color: #f1f1f1;
    font-size: 60px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus, .closeImage:hover, .closeImage:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 6px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
.btnConfirmContainer{
  text-align: center;
}



/* ----- ACCORDEON*/
/*------------------------------------*/
button.accordion, .accordion {
    background-color: #7086a4;
    /*background-color: #eee;*/
    color: #fff;
    /*color: #444;*/
    cursor: pointer;
    padding: 18px;
    width: 95%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin: 5px;
}

button.accordion.active, button.accordion:hover, .accordion.active, .accordion:hover {
  background-color: #a7b5c7;
  color: #444;

    /*background-color: #ddd;*/

}

.accordeonPanel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    width: 90%;
    transition: max-height 0.2s ease-out;
    margin: 0 auto;

}

.accordion-mini {
  padding: 10px;
  margin: 5px;
}

/* ------- Tabs menu */
/*------------------------------------*/
/*.noPadding {
  padding: 0px !important;
}
div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;

    text-align: center;

}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}*/


/* ------- Image upload form and other forms*/
/*------------------------------------*/
input {font-family:FontAwesome, Helvetica;}

.formContainer {
  width:100%;
  text-align: center;

}

#imgUploadForm, .normalForm {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.form-group .form-group{
  margin: 10px;
}

/*Custom input file. Is hidden and you click the label*/
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    /*font-size: 1.25em;*/
    /*font-weight: 700;*/
    /*color: white;*/
    /*background-color: black;*/
    display: inline-block;
  	/*cursor: pointer; /* "hand" cursor */


}
.inputfile:focus + label,
.inputfile + label:hover {
    /*background-color: red;*/
}

/*Button for the input file*/
.btn {
  /*background-color: #008CBA; /* Blue */
  border: 2px solid #555555;
  background-color: white;
  color: #555555;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 2px;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

  overflow: hidden;
  cursor: pointer;

  margin: 5px;

}
.btn-medium{
  padding: 5px 10px;
}
.btn-medium i{
  font-size: 16px;
}
.btn-left {
  float:left;
  margin-right: 5px;
}

.btn-right {
  float:right;
  margin-left: 5px;
}

.btn:hover {
  /*background-color:  #006282;*/
  background-color: #555555;
  color: white;
}

.btn-circular {
  border-radius: 50%;
  font-size: 20px;


}

/*Custom input text*/
#imgUploadForm  input[type="text"], .form-group .inputText, .normalForm input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  width: 220px;
}
#imgUploadForm  input[type="text"]:focus,
  .form-group .inputText:focus,
  .form-group .inputText.focus,
#imgUploadForm input[type="text"].focus {
  border-bottom: solid 2px #969696;
}

/*Custom radio buttons*/
#imgUploadForm  input[type="radio"], .normalForm input[type="radio"] {
  display: none;
}

#imgUploadForm  input[type="radio"] + label, .normalForm input[type="radio"] + label {
  display: inline-block;
  /*background-color: #ddd;*/
  padding: 4px 11px;
  font-family: Arial;
  font-size: 20px;
  cursor: pointer;
  color: #555555;
}

/*This create an input required and transparent. Used on itinerary creation to get lat lon required*/
.normalForm input[data-readonly] {
  pointer-events: none;
  height: 1px;
  width: 100%;
  color: transparent !important;
  border: none !important;
  background-color: transparent;
  padding: 0px !important;

}

#imgUploadForm  input[type="radio"]:checked+label,
#imgUploadForm  input[type="radio"]:hover+label,
.normalForm  input[type="radio"]:checked+label,
.normalForm  input[type="radio"]:hover+label

{
  background-color: #555555;
  color: white;
}

/*Srtyle of differents parts of the form*/
/*Form section title*/
.sectionTitle {
  font-size: 14px;
  text-align: left;
  margin-top: 20px;

}

/*Form little explanation*/
.explanation{
  font-size: 10px;
  text-align: left;
  /*margin-top: 10px;*/
  color: #555555;
}
.explanation strong {
  color: black;
  font-style: italic;
}

/*Text to se the radio buttons value*/
[id^=radioValue]{
  font-size: 14px;
  height:19px;
}




/* --------- Responsive tabs menu */
/*------------------------------------*/
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

/*Fun begins*/
.tab_container {
	width: 90%;
	margin: 0 auto;
	padding-top: 15px;
	position: relative;

  text-align: center;
}

.tab_container .menuInput, .tab_container section {
  clear: both;
  padding-top: 10px;
  display: none;
}

.tab_container section {
  margin-top: 12px;
}

.tab_container  .menuLabel {
/*.tab_container  label {*/
  font-weight: 700;
  font-size: 18px;
  display: block;
  /*float: left;*/
  width: 20%;
  /*padding: 1.5em;*/
  /*color: #7086a4;*/
  color: #757575;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  /*background: #f0f0f0;*/
  background: #fff;

  display: inline;
  padding: 15px;
  /*display: table-cell;
  vertical-align: middle;*/
}

#tab1Photo:checked ~ #contentPhoto,
#tab2Gallery:checked ~ #contentGallery,
#tab3User:checked ~ #imNotRegistred,
#tab4Itineraries:checked ~ #contentItinerary
/*#tab4:checked ~ #content4,
#tab5:checked ~ #content5 */
{
  display: block;
  /*padding: 20px;*/
  /*background: #fff;*/
  /*color: #999;*/
  border-bottom: 2px solid #f0f0f0;
}

/*.tab_container .tab-content p,
.tab_container .tab-content h3*/
.tab_container .tab-content
 {
  -webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;
  animation: fadeInScale 0.7s ease-in-out;
}
/*.tab_container .tab-content h3  {
  text-align: center;
}*/

.tab_container [id^="tab"]:checked + label {
  background: #f0f0f0;

  /*background: #fff;*/
  box-shadow: inset 0 3px #7086a4;
  /*box-shadow: inset 0 3px #0CE;*/
}

.tab_container [id^="tab"]:checked + label .fa {
  color: #7086a4;
}

.tab_container  .menuLabel .fa {
  font-size: 1.3em;
  margin: 0 0 0 0;
}

/*Media query*/
@media only screen and (max-width: 930px) {
  .tab_container  label span {
    font-size: 14px;
  }
  .tab_container  label .fa {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .tab_container  label span {
    display: none;
  }

  .tab_container  label .fa {
    font-size: 16px;
  }

  .tab_container {
    width: 98%;
  }
}

/*Content Animation*/
@keyframes fadeInScale {
  0% {
  	transform: scale(0.9);
  	opacity: 0;
  }

  100% {
  	transform: scale(1);
  	opacity: 1;
  }
}




/* ---------- Custom icon font for gallery icon */
/*------------------------------------*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?i4m71i');
  src:  url('../fonts/icomoon.eot?i4m71i#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?i4m71i') format('truetype'),
    url('../fonts/icomoon.woff?i4m71i') format('woff'),
    url('../fonts/icomoon.svg?i4m71i#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gallery:before {
  content: "\e900";
}

/* --------- Image Gallery Buttons*/
/*------------------------------------*/
#galleryCards {
  display:flex;
  align-items: center;
  justify-content: center;
}
.gallery_card {
  height: 50px;
  width:50%;
  overflow: hidden;
  background: black;
  /*background-clip: text;*/
  margin: 5px;
  margin-top: 0px;
  max-width: 160px;
  position: relative;
  cursor: pointer;

}

.gallery_card_title, .gallery_card_count{
  position: absolute;
  width: 100%;
  color: #F0F0F0;

}

.gallery_card_title {
  top: 0;
  font-size: 16px;
  bottom: 0;
  padding-top: 5px;
}
.gallery_card_count {
  font-size: 12px;
  bottom: 0;
  padding-bottom: 8px;
  font-style: italic;
}


.gallery_card img {
  width: 100%;
  margin-top: -25%; /*Set image in the middle*/
  opacity: 0.6;
  -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  filter: blur(2px);
}


/*----------- GALLERY*/
/*------------------------------------*/



#imageGallery {
	column-width: 320px;
  -webkit-column-width: 320px;
  -moz-column-width: 320px;

	column-gap: 15px;
  -moz-column-gap: 15px;
  -webkit-column-gap: 15px;

  width: 90%;
	max-width: 1100px;
	margin: 50px auto;


  /*-webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;*/
  /*animation: fadeInScale 0.7s ease-in-out;*/


}

#imageGallery figure {
	background: #fefefe;
	border: 2px solid #fcfcfc;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	padding: 15px;
	padding-bottom: 10px;
	transition: opacity .4s ease-in-out;
  display: inline-block;
  column-break-inside: avoid;

  -webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;
  animation: fadeInScale 0.7s ease-in-out;

  /*-webkit-animation: slideLeft 0.5s forwards;
  -moz-animation: slideLeft 0.5s forwards;
  animation: slideLeft 0.5s forwards;*/

  position: relative;

}

#imageGallery figure img {
	width: 100%; height: auto;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

#imageGallery figure figcaption {
  font-size: .9rem;
	color: #444;
  line-height: 1.5;
  text-align: left;
}

#imageGallery small {
  font-size: 1rem;
  float: right;
  text-transform: uppercase;
  color: #aaa;
}

#imageGallery small a {
  color: #666;
  text-decoration: none;
  transition: .4s color;
}

#imageGallery:hover figure:not(:hover) {
	opacity: 0.4;
}

.crud-icons-inline, .crud-icons {
  cursor: pointer;
}
.crud-icons{
  position:absolute;
  right:10px;
  bottom:10px;
}

.crud-icons-inline{
  position:relative;
  display: inline;
  float: right;
}

@media screen and (max-width: 750px) {
  #imageGallery {
    column-gap: 15px;
    -moz-column-gap: 15px;
    -webkit-column-gap: 15px;

    column-width: 100px;
    -webkit-column-width: 100px;
    -moz-column-width: 100px;

  }
  #imageGallery figure { width: 100%; }
}

/*----------- mini Gallery*/
/*------------------------------------*/
.miniGallery {
  text-align: left;
  overflow: auto;
  white-space: nowrap;
  margin-bottom: 10px;
  padding-bottom: 10px;
  width: 100%;
  max-width: 100%;
}
.miniGallery button, .miniGallery > div {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  position: relative;
}
.miniGallery > div {
  width: 80px;
  margin: 3px;
}

.miniGallery > div img {
  width: 100%;
}

.miniGallery > div .crud-icons {
  bottom: -3px;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2px;
}


/*----------- PROGRESS BAR*/
/*------------------------------------*/
#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 10%;
  height: 30px;
  background-color: #798EA9;
  text-align: center;
  line-height: 30px;
  color: white;
}


/* ---------- ITINERARY */
/*------------------------------------*/
.contentItinerary {
  padding-left: 5px;
}
.itineraryTitle {
  display: block;
  text-align: left;
  overflow: auto;
  /*align-items: center;*/
  position: relative;
  border-bottom: 2px solid #f0f0f0;
}
#itPageTitle {
  position: absolute;
  bottom: 10px;
  /*left: 16px;*/
  color: #555555;


}
.list-card {
  text-align: left;
  cursor: pointer;
  padding: 5px;
}
.list-card > span > span{
  font-size: 13px;
  color: #555555;
  font-style: italic;

}

.fa-stack > .fa-badge{
	position:absolute;
	right:-10%;
	bottom:-5%;
	font-size:100%;
	height:60%;
	width:60%;
	line-height:120%;
	text-align:center;
}
.fa-outline-inverse{
	text-shadow: -0.12ex 0 #FFF,-0.1ex -0.1ex #FFF, 0 -0.12ex #FFF, 0.1ex -0.1ex #FFF, 0.12ex 0 #FFF, 0.1ex 0.1ex #FFF, 0 0.12ex #FFF, -0.1ex 0.1ex #FFF;
}
