/* iui.css (c) 2007-9 by iUI Project Members, see LICENSE.txt for license */
::-webkit-scrollbar { 
    display: none; 
}

body {
    margin: 0;
    height : 100%;
    font-family: Helvetica;
    font-weight: bold;
    background: #FFFFFF;
    color: #000000;
    overflow-x: hidden;
    //overflow: hidden;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
}

body > *:not(.toolbar) {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 85px;
    width: 100%;
    /* min-height: 372px; */
    -webkit-transition-duration: 300ms;
    -webkit-transition-property: -webkit-transform;
    -webkit-transform: translateX(0%);
}

body[orient="landscape"] > *:not(.toolbar) {
    /* min-height: 268px; */
}

body > *[selected="true"] {
    display: block;
}

a[selected], a:active {
    background-color: #194fdb !important;
    background-image: url(../images/iui/listArrowSel.png), url(../images/iui/selection.png) !important;
    background-repeat: no-repeat, repeat-x;
    background-position: right center, left top;
    color: #FFFFFF !important;
}

a[selected="progress"] {
    background-image: url(../images/iui/loading.gif), url(../images/iui/selection.png) !important;
}

/************************************************************************************************/

body > .toolbar {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid #2d3642;
    border-top: 1px solid #6d84a2;
    padding: 10px;
    height: 45px;
    background: url(../images/iui/toolbar.png) #6d84a2 repeat-x;
}

.toolbar > h1 {
    position: absolute;
    overflow: hidden;
    left: 50%;
    margin: 1px 0 0 -75px;
    height: 45px;
    font-size: 20px;
    width: 150px;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #FFFFFF;
}

body[orient="landscape"] > .toolbar > h1 {
    margin-left: -125px;
    width: 250px;
}

.page {
    display : none;
}
.page[selected] {
    display : block;
}


.button {
    position: absolute;
    overflow: hidden;
    top: 8px;
    right: 6px;
    margin: 0;
    border-width: 0 5px;
    padding: 0 3px;
    width: auto;
    height: 30px;
    line-height: 30px;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    background: none;
    border-image: url(../images/iui/toolButton.png) 5 5 round; 
    -webkit-border-image: url(../images/iui/toolButton.png) 0 5 0 5;

}

.blueButton {
    border-image: url(../images/iui/blueButton.png) 0 5 0 5;
    -webkit-border-image: url(../images/iui/blueButton.png) 0 5 0 5;
    border-width: 0 5px;
}

.leftButton {
    left: 6px;
    right: auto;
}

#rightButton {
    display : none;
}

#backButton {
    display: none;
    left: 6px;
    right: auto;
    padding: 0;
    max-width: 70px;
    border-width: 0 8px 0 14px;
    -webkit-border-image: url(../images/iui/backButton.png) 0 8 0 14;
    -moz-border-image: url(../images/iui/backButton.png) 0 8 0 14;
}

.whiteButton,
.redButton,
.grayButton {
    display: block;
    border-width: 0 12px;
    padding: 10px;
    margin : 4px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-decoration: inherit;
    color: inherit;
}

.whiteButton {
    border-style: solid;
    border-image: url(../images/iui/whiteButton.png) 0 12 0 12;
    -webkit-border-image: url(../images/iui/whiteButton.png) 0 12 0 12;
    text-shadow: rgba(255, 255, 255, 0.7) 0 1px 0;
}

.redButton {
    -webkit-border-image: url(../images/iui/redButton.png) 0 12 0 12;
    -moz-border-image: url(../images/iui/redButton.png) 0 12 0 12;
    color:#fff;
    text-shadow: #7a0001 0 -1px 0;
}

.grayButton {
    -webkit-border-image: url(../images/iui/grayButton.png) 0 12 0 12;
    -moz-border-image: url(../images/iui/grayButton.png) 0 12 0 12;
    color: #FFFFFF;
}

/************************************************************************************************/

body > ul > li {
    position: relative;
    margin: 0;
    border-bottom: 1px solid #E0E0E0;
    padding: 8px 0 8px 10px;
    font-size: 20px;
    /* font-weight: bold; */
    list-style: none;
}

body > ul > li.group {
    position: relative;
    top: -1px;
    margin-bottom: -2px;
    border-top: 1px solid #7d7d7d;
    border-bottom: 1px solid #999999;
    padding: 1px 10px;
    background: url(../images/iui/listGroup.png) repeat-x;
    font-size: 17px;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
    color: #FFFFFF;
}

body > ul > li.group:first-child {
    top: 0;
    border-top: none;
}

body > ul > li > a {
    display: block;
    margin: -8px 0 -8px -10px;
    padding: 8px 32px 8px 10px;
    text-decoration: none;
    color: inherit;
    background: url(../images/iui/listArrow.png) no-repeat right center;
}

a[target="_replace"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 18px;
    color: cornflowerblue;
    background-color: #FFFFFF;
    background-image: none;
}

/************************************************************************************************/
    
body > .dialog {
    top: 0;
    width: 100%;
    min-height: 417px;
    z-index: 2;
    background: rgba(0, 0, 0, 0.8);
    padding: 0;
    text-align: right;
}

.dialog > fieldset {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    margin: 0;
    border: none;
    border-top: 1px solid #6d84a2;
    padding: 10px 6px;
    background: url(../images/iui/toolbar.png) #7388a5 repeat-x;
}

.dialog > fieldset > h1 {
    margin: 0 10px 0 10px;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;
    text-align: center;
}

.dialog > fieldset > label {
    position: absolute;
    margin: 16px 0 0 6px;
    font-size: 14px;
    color: #999999;
}

input:not(input[type|=radio]):not(input[type|=checkbox]) {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    margin: 8px 0 0 0;
    padding: 6px 6px 6px 44px;
    font-size: 16px;
    font-weight: normal;
}

/************************************************************************************************/

body > .panel {
    z-index: 100;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 10px;
    background: #c8c8c8 url(../images/iui/pinstripes.png);
}

.panel > fieldset {
    position: relative;
    margin: 0 0 20px 0;
    padding: 0;
    background: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: 1px solid #999999;
    text-align: right;
    font-size: 16px;
}

.row  {
    position: relative;
    min-height: 42px;
    border-bottom: 1px solid #999999;
    -webkit-border-radius: 0;
    text-align: right;
}

fieldset > .row:last-child {
    border-bottom: none !important;
}

.panel input {
    width: 95%;
    height:36px;
    text-align : left;
    border : 1px solid black;
    border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 5px;
}

.row > input:not(input[type|=radio]):not(input[type|=checkbox]) {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    border: none;
    padding: 12px 10px 0 110px;
    height: 42px;
    background: none;
}
.row > input[type|=radio], .row > input[type|=checkbox] {
  margin: 7px 7px 0 0;
  height: 25px;
  width: 25px;
}

.row > label {
    position: absolute;
    margin: 0 0 0 14px;
    line-height: 42px;
    font-weight: bold;
}

.row > span {
    position: absolute;
    padding: 12px 10px 0 110px;
    margin: 0;
}

.row > .toggle {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 100px;
    height: 28px;
}

.toggle {
    border: 1px solid #888888;
    -webkit-border-radius: 6px;
    background: #FFFFFF url(../images/iui/toggle.png) repeat-x;
    font-size: 19px;
    font-weight: bold;
    line-height: 30px;
}

.toggle[toggled="true"] {
    border: 1px solid #143fae;
    background: #194fdb url(../images/iui/toggleOn.png) repeat-x;
}

.toggleOn {
    display: none;
    position: absolute;
    width: 60px;
    text-align: center;
    left: 0;
    top: 0;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;
}

.toggleOff {
    position: absolute;
    width: 60px;
    text-align: center;
    right: 0;
    top: 0;
    color: #666666;
}

.toggle[toggled="true"] > .toggleOn {
    display: block;
}

.toggle[toggled="true"] > .toggleOff {
    display: none;
}

.thumb {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 40px;
    height: 28px;    
    border: 1px solid #888888;
    -webkit-border-radius: 6px;
    background: #ffffff url(../images/iui/thumb.png) repeat-x;
}

.toggle[toggled="true"] > .thumb {
    left: auto;
    right: -1px;
}

.panel > h2 {
    margin: 0 0 8px 14px;
    font-size: inherit;
    font-weight: bold;
    color: #4d4d70;
    text-shadow: rgba(255, 255, 255, 0.75) 2px 2px 0;
}

/************************************************************************************************/

#preloader {
    display: none;
    background-image: url(../images/iui/loading.gif), url(../images/iui/selection.png),
        url(../images/iui/blueButton.png), url(../images/iui/listArrowSel.png), url(../images/iui/listGroup.png);
}


/***********************************************************************************************/

.itable					{ border: 1px solid gray; }
.itable tr.header th	{ text-align: left; }
.itable tr.alt			{ background-color: #eff7ff; }
.itable tr.reg			{ background-color: #fff; }
.itable th				{ background: url(/iui/blue_hd_bg.png) top left repeat-x; border-right: 1px solid grey; }
.itable th:last-child	{ border-right: none; }
.itable td				{ border-right: 1px solid gray; }
.itable tr:first-child	{ white-space: nowrap; }
.itable tr:last-child	{ border-right: none; }

#viewer .copyright,
#viewer .controls span.mark,
#viewer .controls span.permaLink {
	display: none;
}