html,  body { 
    margin:0; padding:0; width: 100%; height: 100%;
    font-size: 200%;
}

body {
    font-family: sans-serif;
    color: #fff;
    background: #dddddd;
    font-size: 0.7em;
}


::-webkit-scrollbar {
    width: 0px;
}

body {
    overflow: hidden; 
}
body #map {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

